<html lang="en-us">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
  
<!-- STYLE CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" type="text/css" />
		
<title>Scraped News Data</title>
</head>